<aside class="logo">
    {% if page.url == '/index.html' or page.url == '/' %}
        {% assign link = '/about' %}
        {% assign prompt = 'About the Author'
	%}
    {% else %}
        {% assign link = '/' %}
        {% assign prompt = 'Back to Home' %}
    {% endif %}
{%- if page.author.image -%}
<a href="{{ link | prepend: site.baseurl }}">
    <img class="gravatar" src="{{site.url}}{{site.baseurl}}{{page.author.image}}">
</a>
{%- endif -%}
    <span class="logo-prompt">{{ prompt }}</span>

</aside>
